body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#eeeeff, #cbc7ff);
  color: #333;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #5350c4;
  color: white;
}
.back-button {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.back-button i {
  margin-right: 8px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 125px; /* Adjust size as needed */
  height: auto;
}
.user-profile {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 8px 15px;
  color: #333;
}

.avatar {
  width: 32px;
  height: 32px;
  background-color: #ff7f50;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 500;
  font-size: 14px;
}

.user-message {
  font-size: 12px;
  color: #666;
}
.status-main-content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status-form-group {
  margin: 0 20px 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.status-search-button {
  width: 100%;
  padding: 12px;
  background-color: #5350c4;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.status-search-button:hover {
  background-color: #413e92;
}

.results-container {
  margin-top: 30px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item {
  margin-bottom: 20px;
  padding: 15px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}
